<!--
h1 {color:teal;}
   	img {width: 400; height: 300;}
   	#thirdDiv {height: 	600; width: 500; background: lavender; padding:50px;
   				border: 1px solid black;}
   	#spanId{font-size: 18px; margin: 50px; }
-->